body {
  margin: 0px;
}

canvas {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/605/550/399/pixels-video-games-wallpaper-preview.jpg");
  background-size: cover;
}

img {
  display: none;
}
